.ft_r {
  float: right;
}
.ft_l {
  float: left;
}
.cbg {
  background-color: white;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0;
  min-height: 48px;
  line-height: 48px;
}
.ant-layout-content :global .anticon {
  font-size: 18px;
  margin-right: 4px;
  margin-left: 4px;
}
.ant-table :global .ant-table-tbody > tr > td {
  padding: 8px 10px;
}
.bgyy .cbg {
  overflow: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
  background-color: white;
  margin-bottom: 16px;
}
.bgyy .cbg .rankingtitle {
  margin-top: 16px;
}
.bgyy .cbg h4 {
  line-height: 24px;
  margin-top: 12px;
}
.bgyy .cardlist {
  background: #F7F7F9;
  padding: 30px;
}
.bgyy .cardlist :global .ant-card {
  height: 384px;
}
.bgyy .cardlist :global .ant-card .ant-statistic-content-value {
  font-size: 36px;
}
.bgyy .cardlist .title {
  margin-left: 0px;
  margin-top: 0px;
  font-size: 18px;
  color: #43425D;
}
.bgyy .dyph .one {
  height: 65px;
  line-height: 65px;
}
.bgyy .dyph .one h5 {
  font-size: 14px;
  float: left;
  width: 60px;
  line-height: 18px;
  padding-top: 16px;
  padding-bottom: 12px;
}
.bgyy .dyph .one .statistic {
  float: right !important;
  height: 65px;
  line-height: 68px;
}
.bgyy .dyph .two {
  height: 65px;
  line-height: 65px;
  border-bottom: 1px solid #eee;
}
.bgyy .dyph .two .linkbutton {
  float: right;
  margin-right: 8px;
  height: 65px;
  line-height: 65px;
  box-shadow: none !important;
}
.bgyy .dyph .two .month {
  float: right;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05) !important;
  margin-top: 16px;
}
.bgyy .dyph .title {
  margin-left: 32px;
  margin-top: 16px;
  font-size: 18px;
  color: #43425D;
}
.bgyy .dyph .title span {
  font-size: 14px;
  margin-left: 4px;
}
.bigmap {
  background: url(../../../assets/bigmap.png) no-repeat 50% 50%;
  height: 866px;
}
.bigcolor {
  background-color: #ccb6e0;
}
.alarminfo {
  padding: 0;
  margin: 3px 3px 3px 16px;
}
.alarminfo li {
  font-size: 12px;
  margin: 0 auto;
  padding: 0;
  line-height: 22px;
}
.alarminfo li span {
  color: #A3A0FB;
  margin-left: 16px;
}
.taskinfo {
  padding: 0;
  margin: 21px 3px 3px 0px;
}
.taskinfo li {
  font-size: 12px;
  margin: 0 auto;
  padding: 0;
  line-height: 22px;
}
.taskinfo li span {
  color: #A3A0FB;
  margin-left: 16px;
}
.stacking {
  position: relative;
  width: 100%;
  height: 65px;
}
.stacking .info {
  position: absolute;
  left: 5px;
  top: 10px;
  width: 95%;
}
.stacking .smallcon {
  margin: 0;
  padding-left: 2px;
}
.stacking .smallcon .smallinfo {
  width: 25%;
  font-size: 14px;
  float: left;
}
.stacking .smallcon .smallinfo p {
  padding-left: 27px;
  margin-top: -10px;
  line-height: 12px;
  color: #A3A6B4;
}
.analysis_divider {
  margin: 2px 0;
}
.analysis_operatingrate {
  height: 280px;
}
.analysis_rate {
  margin-top: 16px;
}
.analysis_rate .rate_title {
  width: 150px;
}
.analysis_rate .analysis_rate_con .empty {
  height: 1px;
  width: 100%;
}
