.ft_l {
  float: left;
}
.searchgroup {
  float: left;
  margin-right: 16px;
  margin-left: 16px;
}
.ft_r {
  float: right;
}
.linkbutton {
  color: #43425D;
  margin-left: 8px;
  box-shadow: none !important;
}
